<div class="match" *ngIf="match">
   <span class="result" *ngIf="match.home_result || match.home_result === 0">({{match.home_result}}) </span><span class="team home">{{match.home_team | teamPipe}}</span><span class="spacer"> - </span><span class="team away">{{match.away_team | teamPipe}}</span><span class="result" *ngIf="match.away_result || match.away_result === 0"> ({{match.away_result}})</span>
</div>
<div class="countdown" [class.playingNow]="live" *ngIf="match && (countdown || live)">
  <!-- [style.background-image]="'url(' + tvIcon + ')'" -->
  <div class="live">PLAYING NOW</div>
  <div class="unit">
    <div class="days number">{{countdown.d}}</div>
    <div class="daysunit text">{{countdown.d == 1 ? "day" : "days"}}</div>
  </div>

  <div class="unit">
    <div class="hours number">{{countdown.h}}</div>
    <div class="hoursunit text">{{countdown.h == 1 ? "hour" : "hours"}}</div>
  </div>

  <div class="unit">
    <div class="minutes number">{{countdown.m}}</div>
    <div class="minutesunit text">{{countdown.s == 1 ? "min" : "mins"}}</div>
  </div>

  <div class="unit">
    <div class="seconds number">{{countdown.s}}</div>
    <div class="secondsunit text">{{countdown.s == 1 ? "sec" : "secs"}}</div>
  </div>
</div>