body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url(/assets/bg.png) center;
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.3;
}